service car-bugreportd /system/bin/car-bugreportd
    socket car_br_progress_socket stream 0660 shell log
    socket car_br_output_socket stream 0660 shell log
    socket car_br_extra_output_socket stream 0660 shell log
    class core
    user shell
    group log
    disabled
    oneshot

# car-dumpstatez generates a zipped bugreport but also uses a socket to print the file location once
# it is finished.
service car-dumpstatez /system/bin/dumpstate -S -d -z \
        -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    socket dumpstate stream 0660 shell log
    class main
    disabled
    oneshot