<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (c) 2019, The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.car.media.testmediaapp" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="28"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TestMediaAppTheme" >

        <provider
            android:name=".TmaAssetProvider"
            android:exported="true"
            android:authorities="com.android.car.media.testmediaapp.assets"/>

        <service
            android:name=".TmaBrowser"
            android:icon="@drawable/ic_app_icon"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </service>

        <service
            android:name=".TmaBrowser2"
            android:icon="@mipmap/ic_launcher"
            android:exported="true"
            android:label="@string/broken_service">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </service>

        <activity
            android:name=".prefs.TmaPrefsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
            </intent-filter>
        </activity>



        <!--                To use the app on a phone.                      -->

        <activity android:name=".phone.TmaLauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="androidx.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
